@import 'src/util/Util';

@mixin theme {

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .list {
    flex: 0 0 40%;
    max-width: 40%;
    background: #fff;
    border-right: 1px solid #e7e7e7;
    @include box-sizing(border-box);
  }

  .details {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 12px;
    @include box-sizing(border-box);
  }

  .details .details_container {
    width: 100%;
    @include card-design();
    @include box-sizing(border-box);
  }
}