@import "src/resources/base";

$side-width: 215px;
$top-height: 45px;

.module {
  width: 100%;
  height: 100%;
}

.module {
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
}

.drawer {
  position: fixed;
  width: $side-width;
  height: 100%;
  z-index: 10;
  @include box-sizing(border-box);
}

.sidenav {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary-color;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  @include box-sizing(border-box);
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: $side-width;
  @include box-sizing(border-box);
}

.topnav {
  position: relative;
  width: 100%;
  height: $top-height;
  overflow: auto;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  @include box-sizing(border-box);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  @include box-sizing(border-box);
}
