@import "util.scss";

.module {
  width: 100%;
  height: 100%;
  padding-top: 3px;
  background-color: #fff;
  @include box-sizing(border-box);
}

.module .temp {
  height: 100%;
  @include inline-vertical();
}

.module .option {
  color: $secondary-color;
  @include inline-vertical();
}

.module .option svg {
  width: 26px;
  height: 26px;
}

.module .menu {
  margin-top: -2px;
  margin-right: 12px;
  margin-left: 7px;
}

.module .search {
  width: 240px;
  height: 34px;
  @include inline-vertical();
}

.module .options {
  height: 100%;
  margin-right: 24px;
  float: right;
  @include inline-vertical();
}

.module .profile {
  height: 34px;
  @include inline-vertical();
}