/*
__Seed builder__v1.0
*/

@import 'src/seed/themes/base';
@import 'src/seed/themes/basic/table';
@include theme();

.module {
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;
}

.table .options {}
.table .options .details{}
.table .options .details.active{}
