@import 'src/util/Util';

.title {
  font-size: 15px;
  color: #444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.subtitle {
  margin-top: 4px;
  font-size: 14px;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}