@import "src/util/Util.scss";

.module {
  width: 100%;
  height: 100%;
}

.loading {
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}