@import "src/util/Util.scss";

$container-width:500px;
$container-height:550px;
$header-height: 65px;
.module {
}

.module .container {
  position: relative;
  width: $container-width;
  height: $container-height;
  @include align-horizontal($container-width);
  @include align-vertical($container-height);
}

.module .close {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  margin-top: -37px;
  margin-left: $container-width - 30px;
}

.module .close svg {
  width: 21px;
  height: 21px;
}