@import "util.scss";

.module {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  @include border-radius(20px);
  @include box-sizing(border-box);
}

.module .icon {
  width: 21px;
  height: 21px;
  margin-right: 7px;
  margin-left: 7px;
  color: $secondary-color;
  @include inline-vertical();
}

.module input {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #555;
  font-size: 14px;
  @include inline-vertical();
}

.module input::placeholder {
  color: $secondary-color;
  opacity: 1;
}

.module input:focus {
  outline: none;
}