@import "util.scss";

.module {}

.module svg {
  color: #fff;
}

.module h3 {
  color: #fff;
  @include single-line();
}

.module a.active>div {
  background-color: rgba(255, 255, 255, 0.15);
}

.module .collapse {
  margin-bottom: 4px;
}

.module .collapse a {
  width: 100%;
}

.module a>[role="button"] {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.module .collapse a>[role="button"] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.module .collapse a>[role="button"] h3 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.module .collapse a.active>[role="button"] h3 {
  color: #fff;
}

.module .petText {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding-left: 16px;
  color: #fff;
  font-size: 15px;
  font-style: italic;
  @include box-sizing(border-box);
}

.module .petText::placeholder {
  color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}