@import "util.scss";

.module {
  height: 100%;
}

.module .container {
  margin: 12.5px 24px 10px 24px;
  @include inline-vertical();
}

.module .item {
  display: inline-block;
  width: auto;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px 4px 10px;
  @include border-radius(20px);
}

.module .item>div {
  padding: 0px;
}

.module .item h3 {
  color: $secondary-color;
}

.module .navItem span {
  color: $secondary-color;
}

.module .navItem.active span {
  color: #fff;
}

.module .navItem.active .item {
  margin: 0px 3px;
  padding: 5px 14px 4px 14px;
  background-color: $primary-color;
}

.module .navItem.active .item h3 {
  color: #fff;
}

.module .options {
  float: right;
  margin-right: 25px;
  @include inline-vertical();
}

.module .options .addMatch {
  min-height: 0;
  margin: 12px 7px 10px 7px;
  padding: 8px 12px 5px 12px;
  background: $action-color;
  color: white;
  font-size: 15.5px;
  text-transform: none;
  @include inline-vertical();
  @include border-radius(20px);
}

.module .options .addMatch:hover {
  background-color: #da2276;
}