@import "util.scss";
$container-width:500px;
$container-height:550px;
$header-height: 65px;
.module {
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
}

.module .header {
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid #e5e5e5;
  @include box-sizing(border-box);
}

.module .content {
  width: 100%;
  height: $container-height - $header-height - 20px;
  overflow-y: auto;
}

.module .details {
  width: 100%;
  padding: 18px 12px;
  border-bottom: 1px solid #e5e5e5;
  @include box-sizing(border-box);
}

.module .name {
  color: #555;
  font-size: 21px;
  margin-bottom: 7px;
}

.module .description {
  color: #999;
  font-size: 16px;
}

.module .assigned {
  color: #7a7a7a;
  margin-top: 21px;
}

.module .assigned>* {
  @include inline-vertical();
}

.module .assignedItem {
  padding: 5px 12px 4px 12px;
  background: #fafafa;
  color: #808080;
  font-size: 15.5px;
  text-transform: none;
  margin-left: 7px;
  margin-top: 7px;
  min-width: 0;
  @include border-radius(20px);
}

.module .assignedTitle {
  margin-top: 1px;
  @include inline-vertical();
}

.module .assignedImage {
  width: 28px;
  height: 28px;
  margin-right: 7px;
  background-size: cover;
  @include border-radius(50%);
  @include inline-vertical();
}

.module .dueDate {
  color: #7a7a7a;
  margin-top: 7px;
  margin-bottom: 4px;
}

.module .dueDate>* {
  @include inline-vertical();
}

.module .dueDate .date {
  padding: 7px 12px 4px 12px;
  background: #fafafa;
  color: #888;
  font-size: 15.5px;
  text-transform: none;
  margin-left: 12px;
  min-width: 0;
  @include border-radius(20px);
}

.module .activity {
  width: 100%;
  padding: 18px 12px;
  @include box-sizing(border-box);
}

.module .activityTitle {
  color: #555;
  margin-top: 4px;
  margin-bottom: 4px;
}