@import "util.scss";
.module{
  padding: 13px 7px;
  width: 100%;
  @include box-sizing(border-box);
}
.module .complete {
  padding: 7px 12px 4px 12px;
  background: #fff;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 15.5px;
  text-transform: none;
  @include border-radius(7px);
}

.module .complete.completed {
  border: 0;
  background-color: $primary-color;
  color: #fff;
  @include border-radius(7px);
}

.module .options {
  color: $secondary-color;
  float: right;
  margin-top: -7px;
  margin-right: -4px;
  @include inline-vertical();
}

.module .option svg {
  width: 36px;
  height: 36px;
}