@import "src/resources/base";

.module {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list {
  flex: 0 0 40%;
  max-width: 40%;
  background: #fff;
  border-right: 1px solid #e7e7e7;
  @include box-sizing(border-box);
}

.list .options {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.list .content {
  padding-top: 4px;
}

.table {
  flex: 0 0 40%;
  max-width: 40%;
  background: #fff;
  border-right: 1px solid #e7e7e7;
  @include box-sizing(border-box);
}

.table .options {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.table .content {
  padding: 12px;
}

.details {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 12px;
  @include box-sizing(border-box);
}

.details .card {
  width: 100%;
  @include card-design();
  @include box-sizing(border-box);
}

.details .options {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.details .content {
  padding: 4px 10px 10px 10px;
}
