@import "src/util/Util.scss";

.module {
  width: 100%;
  min-height: 100%;
  background-color: $primary-color;
  color: #fff;
}

.module .header {
  margin-bottom: 14px;
  padding: 16px 26px 19px 26px;
  background-color: rgba(0, 50, 120, 0.07);
}

.module .headerTitle {
  font-family: Didact;
  font-size: 28px;
  @include inline-vertical();
}

.module .headerTitle>span {
  font-size: 0.75em;
}

.module .subheader {
  margin-top: 12px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.module .navItem svg,
.module .navItem span {
  color: rgba(255, 255, 255, 0.85);
}

.module a.active>div {
  background-color: rgba(255, 255, 255, 0.15);
}

.module .active svg,
.module .active span {
  color: #fff;
}