/*
__Seed builder__v1.0
  (Read_only) Modify via SeedManifest.yaml

  Guidelines: 
    - Use template as base for style creation
*/

@import 'src/sbuild/themes/base';

.module {
  width: 100%;
  height: 100%;
}
