/*
__Seed builder__v0.1.8
  (Read_only) Builder helper
*/

@import "src/resources/base";

$container-width:500px;
$container-height:550px;
$header-height: 65px;
.module {
}

.module .container {
  position: relative;
  width: $container-width;
  height: $container-height;
  @include align-horizontal($container-width);
  @include align-vertical($container-height);
}

.module .close {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  width: 35px;
  height: 35px;
  margin-top: -24px;
  margin-left: $container-width - 24px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  @include border-radius(50%);
}