@import 'src/seed/themes/base';

@mixin theme {
  
  .item {
    display: block;
    padding: 12px 14px;
    background: #fff; 
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
  }

  .item:hover,
  .item.active {
    background: #f7f7f7; 
    text-decoration: none;
  }

}