body{
  padding: 0px 20px 0px 0px;
}
nav {
  background-color: #f0f0f0;
  padding-left: 20px;
}
nav>h2{
  display: none;
}
nav > ul > li > a {
  color: #0987EB;
}
nav > ul > li > a:hover,  nav > ul > li > a:active{
  color: #003080;
}

a{
  color: #0987EB;
}

h4.name {
  background: #0987EB;
}

h4 .signature {
  color: #ffffffa0 !important;
}

h4 .type-signature{
  display: none;
}