name: ReactJS App

on:
  push:
    branches: [master, dev]

  pull_request:
    branches:
      - '*'
  
jobs:
  review-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: "Analyzing with eslint"
        uses: codacy/codacy-analysis-cli-action@master
        with:
          tool: eslint
          force-file-permissions: true

      - name: "Analyzing with jshint"
        uses: codacy/codacy-analysis-cli-action@master
        with:
          tool: jshint
          force-file-permissions: true

  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    
    - name: "Installing dependencies"
      run: |
        npm install

    - name: "Running tests"
      run: |
        npm test